<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airline.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @airline.country %>
</p>

<%= link_to 'Edit', airlines.edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines.airlines_path %>
