<p id="notice"><%= notice %></p>

<h1>Destinations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= destination.name %></td>
        <td><%= destination.country %></td>
        <td><%= link_to 'Show', destinations.destination_path(destination) %></td>
        <td><%= link_to 'Edit', destinations.edit_destination_path(destination) %></td>
        <td><%= link_to 'Destroy', destinations.destination_path(destination), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destination', destinations.new_destination_path %>
